
/* 设置全局样式 */
page{
	height: 100%;
	font-size: 28upx;
	line-height: 1.8;
	background: #fff;
}
/* 图片默认100%宽度 */
image{  width: 100%;  }
::-webkit-scrollbar{
	display: none;
}

/* 主色调 */
/* 主背景颜色）*/
.main-bg-color{ background-color: #1d4a9c; }
/* 主点击背景颜色（淡橙色）*/
.main-bg-hover-color{ background-color: rgba(253,104,1,0.85); }
/* 主字体颜色（橙色）*/
.main-text-color{color: #1d4a9c;}
/* 主边框颜色 */
.main-border-color{ border-color: #F1F1F1; }
/* 价格颜色 */
.main-price-color{color: #FD6801;}
.input-border-color{
	border-color: #1d4a9c;
}

